.App {
  text-align: center;
}

.container {
  display: flex;
  padding: 0.7rem;
}
.video-bottom {
  display: flex;
}
.video-profile {
  border-radius: 50%;
}
.video-details {
  text-align: left;
}
.video-elements {
  display: flex;
  flex-wrap: wrap;
}
.each-video {
  padding: 1rem;
}
.watch-later{
  position: relative;
}
.watch-later-btn{
  position: absolute;
color: white;
padding: 0.5rem;
}