.App {
  text-align: center;
}
.container {
  display: flex;
  padding: 0.7rem;
  
}
.video-bottom {
  display: flex;
}
.video-profile {
  border-radius: 50%;
}
.video-details {
  text-align: left;
}
.video-elements {
  display: flex;
 flex-wrap: wrap;

 justify-content: space-evenly;
}
.video-thumnail{
  height: 200px;
  width: 300px;

}
.each-video {
  padding: 1rem;
  transition: box-shadow.3s;

}
.each-video:hover{
  box-shadow: 0 0 11px rgba(23, 23, 33, 33);
}
.watch-later{
  position: relative;
}
.watch-later-btn{
  position: absolute;
color: white;
padding: 0.5rem;
}